<app-loading *ngIf="loading"></app-loading>
<div class="container-fluid">
  <h1 class="mb-3">
    Tabla de usuarios
  </h1>
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre completo</th> 
        <th>E-mail</th>
        <th>Edad</th>
        <th>Fecha de nacimiento</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios"  [ngClass]="usuario.isTop10 ? 'table-success' : ''">
        <td>{{usuario.id}}</td>
        <td>{{usuario.fullName | uppercase }}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.age}}</td>
        <td>{{usuario.birthdate | date: 'medium' }}</td>
        <td><button [id]="usuario.id" (click)="usuario.alternarTop10($event)">Alternar top10</button></td>
      </tr>
    </tbody>
  </table>
</div>
